services:
  mongodb:
    image: mongo:7.0
    container_name: graylog_mongodb
    hostname: graylog_mongodb
    # If you want to configure the settings without a mounted file, use something like the following:
    # command: ["mongod","--ipv6","--bind_ip_all","--port 27017","--timeZoneInfo /usr/share/zoneinfo", 
    # "--dbpath /data/db", "--logpath /var/log/mongodb/mongod.log", "--logappend"]
    command: ["mongod", "--config", "/etc/mongod.conf"]
    ports:
      - 27017:27017
    networks:
      - traefik-net
    volumes:
      - "/volumes/graylog/mongodb/data/db:/data/db" 
      #- "/volumes/graylog/mongodb/logs:/var/log/mongodb:rw" 
      - /etc/localtime:/etc/localtime:ro 
      - /volumes/graylog/mongodb/mongod.conf:/etc/mongod.conf
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping').ok"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s      
    restart: unless-stopped
    
networks:
  traefik-net:
    driver: bridge
    external: true
