services:
  mongodb:
    image: "mongo:7.0"
    container_name: "graylog-mongod"
    hostname: "graylog-mongod"        
    networks:
      - traefik-net
    volumes:
      - /volumes/graylog/mongodb/db:/data/db
      - /volumes/graylog/mongodb/configdb:/data/configdb
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping').ok"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s      
    restart: unless-stopped      

  datanode:
    image: "${DATANODE_IMAGE:-graylog/graylog-datanode:7.0}"
    container_name: "graylog-datanode"
    hostname: "graylog-datanode"
    environment:
      GRAYLOG_DATANODE_NODE_ID_FILE: "/var/lib/graylog-datanode/node-id"
      GRAYLOG_DATANODE_PASSWORD_SECRET: "${GRAYLOG_PASSWORD_SECRET:?Please configure GRAYLOG_PASSWORD_SECRET in the .env file}"
      GRAYLOG_DATANODE_MONGODB_URI: "mongodb://mongodb:27017/graylog"
    ulimits:
      memlock:
        hard: -1
        soft: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "127.0.0.1:8999:8999/tcp"   # DataNode API
      - "127.0.0.1:9200:9200/tcp"
      - "127.0.0.1:9300:9300/tcp"
    networks:
      - traefik-net
    volumes:
      - "/volumes/graylog/datanode/data:/var/lib/graylog-datanode"
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'echo > /dev/tcp/127.0.0.1/8999 || exit 1'"]
      # After config use 9200/tcp
      # test: ["CMD-SHELL", "bash -c 'echo > /dev/tcp/127.0.0.1/9200 || exit 1'"]
      interval: 15s
      timeout: 5s
      retries: 10
      start_period: 30s      
    restart: unless-stopped

  graylog:
    image: "${GRAYLOG_IMAGE:-graylog/graylog:7.0}"
    container_name: "graylog-server"
    hostname: "graylog-server"    
    depends_on:
      mongodb:
        condition: "service_healthy"
      datanode:
        condition: "service_healthy"
    entrypoint: "/usr/bin/tini --  /docker-entrypoint.sh"
    environment:
      GRAYLOG_NODE_ID_FILE: "/usr/share/graylog/data/data/node-id"
      GRAYLOG_PASSWORD_SECRET: "${GRAYLOG_PASSWORD_SECRET:?Please configure GRAYLOG_PASSWORD_SECRET in the .env file}"
      GRAYLOG_ROOT_PASSWORD_SHA2: "${GRAYLOG_ROOT_PASSWORD_SHA2:?Please configure GRAYLOG_ROOT_PASSWORD_SHA2 in the .env file}"
      GRAYLOG_HTTP_BIND_ADDRESS: "0.0.0.0:9000"
      GRAYLOG_HTTP_EXTERNAL_URI: "http://localhost:9000/"
      GRAYLOG_MONGODB_URI: "mongodb://mongodb:27017/graylog"
    ports:
    - "127.0.0.1:5044:5044/tcp"   # Beats
    - "127.0.0.1:5140:5140/udp"   # Syslog
    - "127.0.0.1:5140:5140/tcp"   # Syslog
    - "127.0.0.1:5555:5555/tcp"   # RAW TCP
    - "127.0.0.1:5555:5555/udp"   # RAW UDP
    - "9000:9000/tcp"   # Server API
    - "127.0.0.1:12201:12201/tcp" # GELF TCP
    - "127.0.0.1:12201:12201/udp" # GELF UDP
    #- "127.0.0.1:10000:10000/tcp" # Custom TCP port
    #- "127.0.0.1:10000:10000/udp" # Custom UDP port
    - "127.0.0.1:13301:13301/tcp" # Forwarder data
    - "127.0.0.1:13302:13302/tcp" # Forwarder config
    networks:
      - traefik-net
    volumes:
      - "/volumes/graylog/server/data:/usr/share/graylog/data/data"
    restart: unless-stopped
    
networks:
  traefik-net:
    driver: bridge
    external: true
