services:
  mongodb:
    image: mongo:7.0
    container_name: graylog_mongodb
    hostname: graylog_mongodb
    # If you want to configure the settings without a mounted file, use something like the following:
    command: 
      [
        "mongod",
        "--ipv6",
        "--bind_ip_all","--timeZoneInfo",
        "/usr/share/zoneinfo","--dbpath",
        "/data/db","--logpath",
        "/var/log/mongodb/mongod.log",
        "--logappend"
      ]
    # Or use a mounted file
    # command: ["mongod", "--config", "/etc/mongod.conf"]
    ports:
      - 27017:27017
    networks:
      - traefik-net
    volumes:
      - /volumes/graylog/mongodb/data/db:/data/db 
      # - /volumes/graylog/mongodb/logs:/var/log/mongodb:rw 
      - /etc/localtime:/etc/localtime:ro 
      - /volumes/graylog/mongodb/mongod.conf:/etc/mongod.conf
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping').ok"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s      
    restart: unless-stopped

  datanode:
    image: "graylog/graylog-datanode:6.3"
    container_name: graylog_datanode
    hostname: graylog_datanode
    user: "root"
    depends_on:
      - "mongodb"
    environment:
      GRAYLOG_DATANODE_PASSWORD_SECRET: "a8b5773fa2705b60e9c2bcb2be79e76f8a760ae61898fffe022d370dbe8ae3d2"
      #GRAYLOG_DATANODE_ROOT_USERNAME: "<admin user name>"
      GRAYLOG_DATANODE_BIND_ADDRESS: "0.0.0.0"
      GRAYLOG_DATANODE_MONGODB_URI: "mongodb://mongodb:27017/graylog"
      GRAYLOG_DATANODE_OPENSEARCH_HEAP: "4g"
    ulimits:
      memlock:
        hard: -1
        soft: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "8999:8999"  # Graylog Data Node REST API
      - "9200:9200"  # OpenSearch REST API
      - "9300:9300"  # OpenSearch Transport API
    networks:
      - traefik-net      
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/volumes/graylog/datanode:/var/lib/graylog-datanode"
      - "/volumes/graylog/datanode/jvm.options:/etc/graylog/datanode/jvm.options"
    healthcheck:
      test: ["CMD-SHELL", "bash -c 'echo > /dev/tcp/127.0.0.1/9200 || exit 1'"]
      interval: 15s
      timeout: 5s
      retries: 10
      start_period: 30s      
    restart: unless-stopped

networks:
  traefik-net:
    driver: bridge
    external: true
